* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(37, 37, 37);
  color: white; */
}
/* 
body {
  background-color: rgb(37, 37, 37);
  color: white;
} */

.stock-container {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
}

.table-container {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.high {
  color: green;
  font-weight: bold;
}

.low {
  color: red;
  font-weight: bold;
}
.close {
  font-weight: bold;
}

.positive {
  padding: 5px 5px 5px 25px;
  background-color: rgb(0, 207, 0);
  border-radius: 5px;
  color: white;
  text-align: end;
  font-weight: bold;
}

.negative {
  padding: 5px 5px 5px 25px;
  background-color: rgb(252, 58, 58);
  border-radius: 5px;
  color: white;
  text-align: end;
  font-weight: bold;
}

@media (max-width: 550px) {
  th:nth-child(2),
  th:nth-child(6),
  td:nth-child(2),
  td:nth-child(6) {
    display: none;
  }
}
